h1 {color:red; }
h2 {color:black;}
h3 {color:black;}
h4 {color:white; font-family: segoe print;}
h5 {color:white;}
h6 {color:white;}
p {color:white;}
a {color:white;}
a:visited { color: white; }
body { background: black; }
.red {background: red;}


iframe { background: "logo.png"; }

#homelink {
	padding: 50px 0px 0px 20%; 
}

#messagelink {
	padding: 0px 0px 0px 40%; 	
}

#portrait {
	float: left;
	padding: 0px 25px 0px 10px; 
	}


#topNav {
	padding: 10px 10px 10px 170px; 
	background: black;
}	

#background{
	float:center;
}
#postBody{
	float: center;
	padding: 0px 10px 0px 10px; 
}
#containsEntirePostSectionWithBackground {
	float: center;
	padding: 0px 24px 0px 24px; 
	/*top right bottom left*/	
	
}
#leftNav {
	float: left;
	padding: 0px 25px 0px 25px; 
	/*top right bottom left*/
	background: #232220/*#2f4f4f *//*#696969*/;
	height "100%";
	}
#rightNav {
	float: right;
	padding: 0px 25px 0px 25px; 
	/*top right bottom left*/
	background: #232220/*#2f4f4f*/ /*#696969*/;
	}
	
#cosmicFrame {
	opacity: 0.4; filter: alpha(opacity=40);
	}
#transclucentBox {
	opacity: 0.4; filter: alpha(opacity=40);
	}


#repeatCosmos12 {
			background: url("logo.png") repeat; 
		}
		
#postsNav {
	background: purple;
	background: "transclucentBox" repeat; 	
}






